body{
    background-color: #0A0A0A;
    color:#E0E0E0;
}
h1,h2,h3,h4,h5,h6,ul,li,p,a {font-family: 'Courier New', monospace;
text-align: left; letter-spacing: 0.5px;

}

a:visited 
{ color: rgb(255, 255, 255);}

a {text-decoration: none;
    font-style: oblique;
    font-weight: 400;
    font-size: 15px;
}

ul {list-style: circle;}

p {line-height: 1.25;
    font-size: 15px;
}

#header {text-align: center;
    height: 50px; 
    font-weight: 200px;
}
